body {
  top: 0; left: 0;bottom: 0; right: 0;
}
.topright {
  position: fixed;
  top: 0; right: 0;
  scrollbar-width: none;
  font-size: 32pt;
  z-index: 40;
  padding: 0.2em
}
.log-win {
  border: 1px dotted black;
  font-size: 18pt;
  line-height: 120%;
  padding: 0.5em;
}
.canvas-div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  overflow: hidden;
  padding: 0;
}
.canvas-extra {
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(0,255,0,0.3);
}
